<!doctype html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../stylesheets/main.css"/>
<script src="https://use.fontawesome.com/7437b176cd.js"></script>






<head>
<title>FGCMS</title>
   </head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">


          <a class="navbar-brand" href="home.html">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">



        </div><!--/.nav-collapse -->

      </div>

    </nav>

<div class="container">
    <div class="row">
        <div class="page-header">
            <div class="col-md-12">
                <h1 class="text-center">Jobs Portal</h1>

                <button type="button" class="btn btn-primary management" onclick="location.href = 'datamanagementmap.html';" >Data Management</button>

            </div>

            <div class="col-md-12">
              <button type="button" class="btn btn-success dashboard" onclick="location.href = 'datamanagementdashboardmap.html';">Data Management Dashboard</button>

            </div>

        </div>
    </div>





</body>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../javascripts/app.js"></script>
<script src="../javascripts/jquery.quicksearch.js"></script>
<script src="../javascripts/jqueryfiledownloader.js"></script>
<script src="../javascripts/filesaver.js"></script>
<script src="../javascripts/jquery-ui.js"></script>
<script src="../javascripts/jquery.fileupload.js"></script>
<script src="../javascripts/jquery.iframe-transport.js"></script>



</script>







</html >
