<!doctype html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../stylesheets/main.css"/>
<link rel="stylesheet" type="text/css" href="../bower_components/leaflet/dist/leaflet.css"/>
<link rel="stylesheet" type="text/css" href="../bower_components/toastr/toastr.min.css"/>


<head>
<title>FGCMS</title>
   </head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">FGMCS</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Map</a></li>
            <li><a href="#about">View Jobs</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>




</body>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower_components/leaflet/dist/leaflet.js"></script>
<script src="../bower_components/toastr/toastr.min.js"></script>
<script src="../javascripts/app.js"></script>
<script src="../javascripts/map.js"></script>

</html >
