<!doctype html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../stylesheets/main.css"/>
<link rel="stylesheet" type="text/css" href="../bower_components/leaflet/dist/leaflet.css"/>
<link rel="stylesheet" type="text/css" href="../bower_components/toastr/toastr.min.css"/>


<head>
<title>FGCMS</title>
   </head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">FGCMS</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Map</a></li>
            <li><a href="#about">View Jobs</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </nav>
    <!--Button to make new job -->
    <button type="button" class="btn btn-success" data-toggle="modal" data-target=".job-modal">New Job
    </button>
  </div>

  <!-- Modal for new job -->
  <div class="modal fade job-modal">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                          class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="myModalLabel">Create a new Job</h4>
        </div>

    <div class="modal-body">
          <div class="row">
              <div class="col-xs-6">
                <!--Starts Form-->
                      <form id="job-form" method="POST">
                          <div class="form-group">
                              <h3>Job Name</h3>
                              <input type="text" class="form-control" placeholder="Enter a name for your job" name="name" id="job-name">
                          </div>
                          <!-- <div class="form-group">
                              <label class="control-label">Created By</label>
                              <input class="form-control" placeholder="Enter your name" name="createdby">
                              <span class="help-block"></span>
                          </div> -->
                          <div class="form-group">
                              <h3>Longitude</h3>
                              <input class="form-control" placeholder="Enter longitude coordinates" name="longitude" id="job-longitude">
                          </div>
                          <div class="form-group">
                              <h3>Latitude</h3>
                              <input class="form-control" placeholder="Enter latitude coordinates" name"latitude" id="job-latitude">
                          </div>
                          <div class="modal-footer">
                              <button data-dismiss="modal" class="btn">Cancel</button>
                              <button type="submit" id="add" class="btn btn-primary">Save changes</button>
                          </div>
                      </form>
                      <!--Ends Form-->
                </div>
              <!--Start Map-->
                   
             </div> <!-- Closes Row-->
           </div><!--Closes Modal Body-->
         </div>
      </div>
   </div>





</body>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower_components/leaflet/dist/leaflet.js"></script>
<script src="../bower_components/toastr/toastr.min.js"></script>
<script src="../javascripts/app.js"></script>
<script src="../javascripts/map.js"></script>

</html >
