<!doctype html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="../stylesheets/main.css"/>


<head>
<title>FGCMS</title>
   </head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="map.html">FGCMS</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="map.html">Map</a></li>
            <li><a href="viewjobs.html">View Jobs</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="container">
    <div class="row">
        <div class="page-header">
            <div class="col-md-6">
                <h1>Jobs Portal</h1>
            </div>
        </div>
    </div>


    <div class="form-group pull-right">
        <input type="text" class="search form-control" placeholder="What you looking for?">
    </div>

    <div class="row">
        <table class="table table-striped table-bordered" id="jobs">
            <thead>
            <tr>
                <th>Status</th>
                <th>Job Name</th>
                <th>Created By</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>





<!--Actions Modals -->

<!--Export Modal -->
<!-- <form method="GET" id="job-export">
  <div id="exportModal" class= "modal fade hello" >
        <div class="modal-dialog">
            <div class = "modal-content">
                <div class = "modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                    </button>
                    <h2 class="text-center">Export Portal</h2>
                </div>
                <div class = "modal-body">
                    <p class="text-center">Are you sure you want to export this job?</p>
                     <div class="modal-footer">
                       <div class="col-md-12 text-center">
                        <button data-dismiss="modal" class="btn">Cancel</button>
                        <button type="submit" class="btn btn-primary" name="">Export</button>
                      </div>
                  </div>
                </div>
        </div>
    </div>
  </div>
</form> -->
  <!--Export Modal End-->

  <!--Chek In Modal -->
  <!-- <form method="POST" id="job-checkin">
    <div id="checkModal" class= "modal fade hello" >
          <div class="modal-dialog">
              <div class = "modal-content">
                  <div class = "modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                      </button>
                      <h2 class="text-center">Check In Portal</h2>
                  </div>
                  <div class = "modal-body">
                      <p class="text-center">Are you sure you want to check in this job?</p>
                      <div class="col-md-12 text-center">
                      <button data-dismiss="modal" class="btn">Cancel</button>
                      <button type="submit" class="btn btn-primary" name="">Check In</button>
                    </div>
                  </div>
          </div>
      </div>
    </div>
  </form> -->
    <!--Check In Modal End-->

    <!--Post to Gold Modal -->
    <!-- <form method="PUT" id="job-gold">
      <div id="postModal" class= "modal fade hello" >
            <div class="modal-dialog">
                <div class = "modal-content">
                    <div class = "modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                        </button>
                        <h2 class="text-center">Post to Gold</h2>
                    </div>
                    <div class = "modal-body">
                        <p class="text-center">Are you sure you want to Post to Gold this job?</p>
                        <div class="col-md-12 text-center">
                        <button data-dismiss="modal" class="btn">Cancel</button>
                        <button type="submit" class="btn btn-primary" name"">Post to Gold</button>
                      </div>
                    </div>
            </div>
        </div>
      </div>
    </form> -->
      <!--Post to Gold End-->

    <!--Delete Modal -->
    <!-- <form method="DELETE" id="job-delete">
      <div id="deleteModal" class= "modal fade hello" >
            <div class="modal-dialog">
                <div class = "modal-content">
                    <div class = "modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                        </button>
                        <h2 class="text-center">Delete Portal</h2>
                    </div>
                    <div class = "modal-body">
                        <p class="text-center">Are you sure you want to delete this job?</p>
                        <div class="col-md-12 text-center">
                        <button data-dismiss="modal" class="btn">Cancel</button>
                        <button type="submit" class="btn btn-primary" id="delete">Delete</button>
                      </div>
                    </div>
            </div>
        </div>
      </div>
    </form> -->

      <!--Delete Modal End-->
   </div><!--Closes Container-->



</body>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../javascripts/app.js"></script>

</html >
