body { margin:0;
       padding:0;
     }

#map { position: absolute;
       top:0;
       bottom:0;
       right:0;
       left:0;
      }

.leaflet-container {
      margin-top: 4.2em;

      }

#mapid {
      height: 75vh;
       }

#geoloc {
     padding-left: 30px;
       }
/* Change cursor when mousing over clickable layer */
.leaflet-clickable {
    cursor: crosshair !important;
      }
/* Change cursor when over entire map */
.leaflet-container {
    cursor: crosshair !important;
      }
#basemaps-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 400;
    background: white;
    padding: 10px;
    margin-top: 4.2em;
  }
  #basemaps {
    margin-bottom: 5px;
  }

  .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    margin-left: 800px;
    margin-top: 10px;
}
