body {
    padding-top: 50px;
}

#lista-compras td, #lista-compras th {
	text-align: center;
}
.comprado-true {
	text-decoration: line-through;
	color: red;
}
.page-header {
    padding-bottom: 50px;
}
.modal-content {
  width: 1000px;
  height: 650px;

}
#mapid {
  height: 180px;
}
.modal{
padding-right: 400px;

}
#job{
    width: 500px;
    height: 200px;
    margin-left: 16em;
}
.hello {
  height: 300px;
}
